<div class="container panel">

    <div class="col-sm-12">
        <div class="col-sm-3">
            <h4>Hamish Dickson</h4>
            
            <img src="../images/hamish-profile-pic.png" class="img-responsive">

            <p><i>Hamish after driving 4,000km in 2 weeks ... on a <a href="http://en.wikipedia.org/wiki/Auto_rickshaw" target="_blank">tuk tuk</a>
            ... in India ...</i></p>

        </div>
        <div class="col-sm-8">
            <h4>About Hamish</h4>
            <p>I guess this is my site and my company! I'm a geek at heart who is passionate about two things: learning
                new stuff and building things.</p>

            <h5>My code</h5>
            <p>You can find a lot of my publically available code <a href="https://github.com/hamishdickson" target="_blank">over here on github</a></p>


            <h5>Education</h5>
            <h6>Imperial College London, MSci Physics with Theoretical Physics 2002-2006</h6>
            <p>My undergraduate life was spent avoiding labs at all costs and finding new maths and techniques to solve problems. I'm
            still totally fascinated by anything quantum field like or anything involving turbulence.</p>

            <h6>Imperial College London, MSc Quantum Fields and Fundamental Forces 2006-2007</h6>
            <p>Basically, this is string theory and all the bits you need to understand it. I loved this course - sadly I didn't
            get to stay on and do a PhD, but wow, I wish I had.</p>

            <h5>"Proper job"</h5>
            <p>Like any good superhero, I have a day job -
                <a href="http://uk.linkedin.com/pub/hamish-dickson/67/3b0/47b/" target="_blank">find out more about it here.</a></p>
        </div>
    </div>
</div> 