<div class="container panel">

    <div class="col-sm-12">
        <div class="col-sm-6">
            <h4>Hamish Dickson</h4>
            
            <img src="../images/hamish-profile-pic.png" class="img-responsive">

            <p>Hamish after driving 4,000km in 2 weeks ... on a <a href="http://en.wikipedia.org/wiki/Auto_rickshaw" target="_blank">tuk tuk</a>
            ... in India ...</p>

        </div>
        <div class="col-sm-6">
            <h5>About Hamish</h5>
            <p>I guess this is my site and my company! I'm a geek at heart who is pashonate about two things: learning
                new stuff
                and building things.</p>

            <p>You can find out more about my day job <a href="http://uk.linkedin.com/pub/hamish-dickson/67/3b0/47b/" target="_blank">here</a></p>
        </div>
    </div>
</div> 