<div class="container">
    <div class="panel">
        <div class="panel-heading">
            <h3>About</h3>
        </div>
    </div>

    <div class="panel panel-body">
        <div class="col-sm-12">
            <h4>Snowbear Software</h4>

            <p>Snowbear started out of a "great idea for a startup" that I (Hamish) had a few years ago, slowly I
            realised that actually my "great idea for a startup" had not only already been done, but been done very
            well.</p>

            <p>I'm planning to write a blog post on my "great idea" - don't get too excited,
            <a href="http://boinc.berkeley.edu/wiki/Main_Page" target="_blank">BOINC and SETI</a> did it far better,
            long ago.</p>

            <p>Anyway, so my new project is to build this site so it's a useful collection of tutorials and blogs.</p>

        </div>

        <div class="col-sm-12">
            <div class="col-sm-3">
                <h4>Hamish Dickson</h4>

                <img src="../images/hamish-about-pic.jpg" class="img-responsive">

                <a class="twitter-timeline" href="https://twitter.com/_mishy" data-widget-id="500772492449828864">Tweets
                    by @_mishy</a>

            </div>
            <div class="col-sm-8">
                <h4>About Hamish</h4>

                <h5>Quick brief</h5>
                <p>I'm a software developer and a bit of a geek, at work I use java, at home I tend to use nodejs and
                python to get things done.</p>

                <hr>

                <h5>What interests me</h5>
                <p>Right here, right now - webapps. I've written a couple of single page webapps for work and I'm really
                enjoying it.</p>

                <p>But, honestly, that's short lived - what really interests me is using computers to solve very hard
                physical problems.</p>

                <hr>

                <h5>What I'm learning at the moment</h5>

                <p>It's really important to me that I stay challenged and keep learning things. I actually consider a
                day without learning a wasted day, so here is what I'm looking at right now:</p>

                <ul>
                    <li>AngularJs</li>
                    <li>Clojure</li>
                    <li>Relearning statistical physics, with the aim of modeling it</li>
                </ul>

                <p><span class="update-header">- Hamish, 17th Aug 2014</span></p>

                <hr>

                <h5>What I'm planning to learn next</h5>

                <ul>
                    <li>Machine learning</li>
                    <li>Modeling the statistical physics I'm learning</li>
                </ul>

                <p><span class="update-header">- Hamish, 17th Aug 2014</span></p>

                <hr>

                <h5>My code</h5>
                <p>You can find a lot of my publically available code <a href="https://github.com/hamishdickson"
                                                                     target="_blank">over here on github.</a></p>

                <hr>

                <h5>How I like to code</h5>
                <p>I love to work as part of a small team. About 6 people seems to be perfect - everyone understands
                what is going on and it's enough people for different ideas to come about.</p>

                <hr>

                <h5>"Proper job"</h5>

                <p>Like any good superhero, I have a day job -
                    <a href="http://uk.linkedin.com/pub/hamish-dickson/67/3b0/47b/" target="_blank">find out more about
                        it here.</a></p>

                <hr>

                <h5>Education</h5>
                <h6>Imperial College London, MSci Physics with Theoretical Physics 2002-2006</h6>

                <p>My undergraduate life was spent avoiding labs at all costs and finding new maths and techniques to
                    solve problems. I'm
                    still totally fascinated by anything quantum field like or anything involving turbulence.</p>

                <h6>Imperial College London, MSc Quantum Fields and Fundamental Forces 2006-2007</h6>

                <p>Basically, this is string theory and all the bits you need to understand it. Great fun, if you ever
                want to lose a couple of hours, ask me about it!</p>


            </div>
        </div>
    </div>
</div> 