<div class="container">
    <div class="col-md-10">
        <div class="panel">
            <div class="panel-heading">
                <h3>Blogs</h3>

                <p>... or 'rants' might be a more accurate description ...</p>
            </div>
        </div>

        <div class="panel panel-body">
            <div>
                <h4 id="firstPost">First post</h4>
                <p>Hi there - I'll keep this brief as I'm still working on this site.</p>
                <p>Here I'm intending to add regular (ie at least once a year) posts about what I think good software
                should envolve, things I learn and where I think technology is going in general. I hope you enjoy what I
                have to say!</p>
                <p class="pull-right"><span class="update-header">Hamish, 17th Aug 2014</span></p>
            </div>
        </div>
    </div>

    <div class="col-md-2 hidden-sm hidden-xs">
        <div class="bs-sidebar hidden-print affix" role="complementary" data-offset-top="-100" bs-affix
             bs-scrollspy-list style="position: fixed; top: 100px">
            <ul class="nav bs-sidebar">
                <li bs-scrollspy data-target="/blog/#first-post" class="active">
                    <a href="/blog/#firstPost">First post</a>
                </li>
                <hr style="margin: 2px 0;">
            </ul>
        </div>
    </div>
</div>