<div class="container">

    <div class="cover-container" id="home-page">

        <div class="inner-cover" id="home-detail">

            <h1 class="cover-heading animated bounceInDown">snowbear.co</h1>

            <p class="lead animated bounceInUp">Welcome to snowbear.co! A tiny London based software company!</p>

            <p class="lead animated bounceInUp">Right now, I'm looking for projects to build my portfolio - if you would
            like a simple website built for your business, then get in contact - I'm willing to do the first 3 sites for
            free</p>

            <p class="lead animated bounceInUp">
                <a href="/contact" class="btn btn-lg btn-default">Learn more</a>
            </p>
        </div>
    </div>

</div>