<div class="container">
    <div class="panel">
        <div class="panel-heading">
            <h3>Welcome to snowbear.co!</h3>
        </div>
    </div>

    <div class="panel panel-body">
        <div class="row show-list">
            <div class="col-md-6">
                <h4>About</h4>
                <p>Snowbear.co - a collection of ramblings, bits of code and other things it would be best if you
                didn't read</p>

                <a class="twitter-timeline" href="https://twitter.com/snowbearsw" data-widget-id="500745991616606208">Tweets by @snowbearsw</a>


            </div>
            <div class="col-md-6">
                <h4>Updates</h4>

                <p><span class="update-header">Hamish, 16th Aug 2014:</span> Nothing for ages and then 3 come along at once!
                Well here you are, another small update - you will probably see a lot of these this weekend - enjoy!</p>

                <hr>

                <p><span class="update-header">Hamish, 15th Aug 2014:</span> Cool! A blog! If you have a look at the top of
                the page you will see a new button ... a tab button! Nice! Sadly I don't have any content up there yet, but
                come on it's a start isn't it?!</p>

                <hr>

                <p><span class="update-header">Hamish, 13th Aug 2014:</span> So it shouldn't suprise anyone that knows me that
                I've hardly done much on this! One person put it nicely by saying "Hamish ... nice guy, attention span on a gopher"!
                Anyway, my excuse is I've spent a huge chunk of my free time working on a webapp for work ... and not being paid for
                it. Hmmm dubious I know ..</p>

                <p>Anyway, I've updated this slightly and will do so over the next few days with the aim to set up a section of my
                crazy person ramblings (aka a blog).</p>

                <hr>

                <p><span class="update-header">Hamish, 20th July 2014:</span> So here we are, doing another rebrand, using
                    what to us is a new and exciting technology (Angular.js). From this, I'm hoping to be able to offer much
                    richer web apps.</p>
            </div>

            <div class="col-sm-6">

            </div>
        </div>
    </div>

</div>