<div class="container">
    <div class="panel">
        <div class="panel-heading">
            <h3>snowbear.co</h3>

            <p>A collection of ramblings, bits of code and other things that you can probably find Dilbert jokes about</p>
        </div>
    </div>

    <div class="panel panel-body">
        <div class="row show-list">
            <div class="col-md-8">
                <h4>About</h4>
                <p>Welcome to snowbear.co! At the moment this site is getting a massive overhaul, so some things will be missing
                and others incomplete - the contact page is fully up and running though, so please have a look there
                if you'd like to get in touch!</p>

                <hr>

                <h4>Progress</h4>

                <p>Just to give you an idea of where I think this page is at the moment:</p>

                <div class="col-md-12">
                    <h5>Home page</h5>
                    <div class="col-md-6">
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0"
                                 aria-valuemax="100" style="width: 60%">
                                <span class="sr-only">60% done</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <p>... still a bit to do</p>
                    </div>
                </div>

                <div class="col-md-12">
                    <h5>About page</h5>
                    <div class="col-md-6">
                        <div class="progress">
                            <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="80" aria-valuemin="0"
                                 aria-valuemax="100" style="width: 80%">
                                <span class="sr-only">80% done</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <p>Getting there!</p>
                    </div>
                </div>


                <div class="col-md-12">
                    <h5>Contact page</h5>
                    <div class="col-md-6">
                        <div class="progress">
                            <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="100" aria-valuemin="0"
                                 aria-valuemax="100" style="width: 100%">
                                <span class="sr-only">100% done</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <p><span class="glyphicon glyphicon-ok"></span> Done ... until I change it again</p>
                    </div>
                </div>

                <div class="col-md-12">
                    <h5>Blog page</h5>
                    <div class="col-md-6">
                        <div class="progress">
                            <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="1" aria-valuemin="0"
                                 aria-valuemax="100" style="width: 1%">
                                <span class="sr-only">1% done</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <p>There is a lot to do</p>
                    </div>
                </div>

                <div class="col-md-12">
                    <h5>Labs page</h5>
                    <div class="col-md-6">
                        <div class="progress">
                            <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="1" aria-valuemin="0"
                                 aria-valuemax="100" style="width: 1%">
                                <span class="sr-only">1% done</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <p>Hmmmm ... that says it all really</p>
                    </div>
                </div>

            </div>
            <div class="col-md-4">
                <h4>Updates</h4>

                <p><span class="update-header">Hamish, 16th Aug 2014:</span> Nothing for ages and then 3 come along at once!
                Well here you are, another small update - you will probably see a lot of these this weekend - enjoy!</p>

                <hr>

                <p><span class="update-header">Hamish, 15th Aug 2014:</span> Cool! A blog! If you have a look at the top of
                the page you will see a new button ... a tab button! Nice! Sadly I don't have any content up there yet, but
                come on it's a start isn't it?!</p>

                <hr>

                <p><span class="update-header">Hamish, 13th Aug 2014:</span> So it shouldn't suprise anyone that knows me that
                I've hardly done much on this! One person put it nicely by saying "Hamish ... nice guy, attention span on a gopher"!
                Anyway, my excuse is I've spent a huge chunk of my free time working on a webapp for work ... and not being paid for
                it. Hmmm dubious I know ..</p>

                <p>Anyway, I've updated this slightly and will do so over the next few days with the aim to set up a section of my
                crazy person ramblings (aka a blog).</p>

                <hr>

                <p><span class="update-header">Hamish, 20th July 2014:</span> So here we are, doing another rebrand, using
                    what to us is a new and exciting technology (Angular.js). From this, I'm hoping to be able to offer much
                    richer web apps.</p>

                <a class="twitter-timeline" data-dnt="true" href="https://twitter.com/snowbearsw" data-widget-id="500745991616606208">Tweets by @snowbearsw</a>

            </div>

            <div class="col-sm-6">

            </div>
        </div>
    </div>

</div>