<div class="navbar navbar-default navbar-static-top"
     role="navigation" bs-navbar>
    <div class="navbar-header">
        <a class="navbar-brand" href="/">
            <i class="fa fa-paw"></i>
            Snowbear.co</a>
    </div>
    <ul class="nav navbar-nav">
        <li data-match-route="/$"><a href="#/">Home</a></li>
        <li data-match-route="/about"><a href="/about">About</a></li>
        <li data-match-route="/contact"><a href="/contact">Contact</a></li>
        <li data-match-route="/blog"><a href="/blog">Blog</a></li>
        <li data-match-route="/lab"><a href="/lab">Labs</a></li>
    </ul>
</div>