<div class="navbar navbar-default navbar-static-top"
     role="navigation" bs-navbar>
    <div class="navbar-header">
        <a class="navbar-brand" href="/">
            <i class="fa fa-paw"></i>
            Snowbear.co</a>
    </div>
    <ul class="nav navbar-nav">
        <li ng-class="{active: isSet(1)}"><a href="" ng-click="setPage(1)">Home</a></li>
        <li ng-class="{active: isSet(2)}"><a href="" ng-click="setPage(2)">About</a></li>
        <li ng-class="{active: isSet(3)}"><a href="" ng-click="setPage(3)">Contact</a></li>
        <li ng-class="{active: isSet(4)}"><a href="" ng-click="setPage(4)">Blog</a></li>
        <li ng-class="{active: isSet(5)}"><a href="" ng-click="setPage(5)">Labs</a></li>
    </ul>
</div>