<div class="container">
    <div class="col-md-8">
        <div class="panel">
            <div class="panel-heading">
                <h3>Tutorials</h3>
            </div>
        </div>

        <div class="panel panel-body">
            <div>
                <h3 id="nodemailer">Sending emails from your nodejs app with nodemailer</h3>
                <p class="pull-right"><span class="update-header">Hamish, 21st Aug 2014</span></p>

                <p>So as part of writing this site, I decided it would be helpful to have a contact form allowing people
                to get in touch without having to dish out my private emails address for all to see. This felt like it
                shouldn't be hard, but took a few hours of googling before I managed to get it working.</p>

                <p>You should also find this helpful if you're going to send emails to more than one person, maybe you're
                writing an app to contact your email list?</p>


                <h4>Getting started</h4>

                <p>So I'm assuming you have a basic node app up and running ... if you don't, then I suggest you have a
                look at <a href="http://expressjs.com/guide.html" target="_blank">expressjs</a>.</p>

                <h5>Pick your SMTP service</h5>
                <p>Like the title suggests, I'm going to assume you're using
                    <a href="http://www.nodemailer.com/" target="_blank">nodemailer</a>. This isn't a complete solution,
                you also need a SMTP server, or service - if you have one, feel free to skip this bit. Don't worry, there
                are lots of free SMTP services out there, so you shouldn't have to pay for your emailer unless you're
                really going to hammer it and email more than 12,000 emails a month!</p>

                <p>Now, you can actually set up your existing Gmail (and hotmail too I think, although I've not tried)
                account to be an SMTP server, but I found it a painful experience which I fundamentally couldn't get to
                work.</p>

                <p>Instead I suggest you use <a href="https://mandrillapp.com/" target="_blank">Mandrill</a> or
                    <a href="https://mailgun.com/cp" target="_blank">Mailgun</a>, both seem pretty good and are free
                when you send less than a couple of thousand emails a month (you don't have to set up payment details
                either). I personally am using Mandrill for no obvious reason.</p>

                <p>First go to <a href="https://mandrillapp.com/" target="_blank">Mandrill</a> and sign up. You will
                then be given a username and api key (password) - note these down ... yup, they've made it that easy!</p>

                <h4>Build your app</h4>
                <p>Time to get going, first install nodemailer with npm:</p>

                <p>npm install --save nodemailer</p>

                <p>and add it to your app:</p>

                <gist id="673192984455ac60d323"></gist>

                <p>Now, create an object called a transporter:</p>

                <gist id="2a817959e3c9880bc0f8"></gist>

                <p>This is used to establish a connection with mandrill</p>

                <gist id="2a817959e3c9880bc0f8"></gist>

                <p>Then send the email!</p>

                <gist id="4c5a801d2e903fc9fd26"></gist>

                <p>This is the final app:</p>

                <gist id="ea4b55ec257e639d1452"></gist>

                <h4>A note on security</h4>
                <p>It's never a good idea to have your username and password hard coded like this - I would suggest you
                move the username and password out to a separate module :)</p>

            </div>
        </div>
    </div>

    <div class="col-md-2 hidden-sm hidden-xs">
        <div class="bs-sidebar hidden-print affix" role="complementary" data-offset-top="-100" bs-affix
             bs-scrollspy-list style="position: fixed; top: 100px">
            <ul class="nav bs-sidebar">
                <li bs-scrollspy data-target="/tutorials/#nodemailer" class="active">
                    <a href="/tutorials/#nodemailer">Nodemailer</a>
                </li>
                <hr style="margin: 2px 0;">
            </ul>
        </div>
    </div>
</div>